    <!-- Primary Meta Tags -->
    <title><% if (title != null) { %>
        <%= title %>
        <% } else { %>
            CNSP - Clear Net Security Project
        <% } %></title> 
    <meta name="title" content=<% if (title != null) { %>
        <%= title %>
        <% } else { %>
            "CNSP Foundation, the Open Source Foundation for Network Security, is a nonprofit foundation that works to improve the security of the Internet."
        <% } %>
    <meta name="description"
        content=<% if (description != null) { %>
            <%= description %>
            <% } else { %>
                "CNSP Foundation, the Open Source Foundation for Network Security, is a nonprofit foundation that works to improve the security of the Internet."
            <% } %>
    <meta name="keywords" content=<% if (keywords != null) { %>
        <%= keywords %>
        <% } else { %>
            "cnsp, clearnet, clear net security project, cnsp codes"
        <% } %>

    <!-- Other Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="31 days">
    <meta name="author" content="Clear Net Security Project">
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cnsp.codes/">
    <meta property="og:title" content=<% if (title != null) { %>
        <%= title %>
        <% } else { %>
            "CNSP Foundation, the Open Source Foundation for Network Security, is a nonprofit foundation that works to improve the security of the Internet."
        <% } %>
    <meta property="og:description"
        content=<% if (description != null) { %>
            <%= description %>
            <% } else { %>
                "CNSP Foundation, the Open Source Foundation for Network Security, is a nonprofit foundation that works to improve the security of the Internet."
            <% } %>
    <meta property="og:image" content="/images/splash-200.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://cnsp.codes/">
    <meta property="twitter:title" content=<% if (title != null) { %>
        <%= title %>
        <% } else { %>
            "CNSP Foundation, the Open Source Foundation for Network Security, is a nonprofit foundation that works to improve the security of the Internet."
        <% } %>
    <meta property="twitter:description"
        content=<% if (description != null) { %>
            <%= description %>
            <% } else { %>
                "CNSP Foundation, the Open Source Foundation for Network Security, is a nonprofit foundation that works to improve the security of the Internet."
            <% } %>
    <meta property="twitter:image" content="/images/splash-200.png">

    <!-- Styling Files -->
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/color-variations/purple.html" rel="stylesheet" type="text/css" media="screen">